.content-section {
  box-sizing: border-box;
  width: 100%;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  justify-items: center;
  padding: 92px 50px 96px;
  text-decoration-skip-ink: none;
  font-size: 18px;
  height: 293px;
}

.header__menu .header__links-list{
  display: flex;
  align-items: flex-start;
  gap: 33px;
  list-style: circle;
  padding-right: 37px;
}

.header__link {
  color: black;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
}

.header__links-list-item {
  text-decoration: underline;
  text-underline-position: under;
}

.header__link_active {
  text-decoration: none;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__logo-image {
  display: block;
  width: 148px;
  height: 105px;
  object-fit: contain;
}

.address {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  max-width: 240px;
  justify-self: end;
  font-style: inherit;
}

.header__address {
  text-underline-position: under;
  justify-self: end;
  font-style: inherit;
}

.address__contacts {
  color: rgba(0, 0, 0, 1);
  font-weight: 400;
  line-height: 24.3px;
}

.cover {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 165px 50px 50px;
  background: url("../images/cover.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  inset: 0;
}

.cover__title {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 100%;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  font-size: 100px;
  z-index: 1;
  margin-bottom: 107px;
}

.cover__title_aligned-text {
  display: inline-block;
  line-height: 115%;
  letter-spacing: 30px;
}

.cover__title_aligned-text_center {
  text-align: center;
  padding-left: 30px;
}

.cover__title_aligned-text_right {
  text-align: right;
  transform: translate(30px);
}

.cover-description {
  position: relative;
  display: flex;
  align-items: center;
  gap: 107px;
  z-index: 1;
}

.cover__desription-text {
  padding-bottom: 10px;
  display: block;
  color: #ffffff;
  font-weight: 400; 
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 1.1rem;
}

.cover__desription-button {
  color: #ffffff;
  display: flex;
  align-items: center;
  padding: 13px 31px;
  margin-bottom: 10px;
  border: 1px solid white;
  background-color: transparent;
  overflow: hidden;
  font-weight: 500;
  font-size: 22px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  margin-left: auto;
}

.lots {
  margin: 180px 24px 120px;
}

.lots__heading {
  font-weight: 700;
  font-style: Bold;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  margin-left: 40px;
  margin-bottom: 27px;
}

.lots__card-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 25px;
}

.card {
  position: relative;
  width: 334px;
  min-height: 596px;
  display: flex;
  flex-direction: column;
  padding: 48px 40px;
  color: rgba(255, 255, 255, 1);
  z-index: 1;
  justify-content: space-between;
}

.card__title {
  text-decoration: underline;
  font-weight: 700;
  font-style: bold;
  font-size: 22px;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 0%;
  z-index: 1;
}

.card__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  z-index: 1;
}

.card_type_film {
  background: url(../images/card-lot-01.jpg);
  background-position: center;
  background-size: cover;
}

.card_type_book {
  background: url(../images/card-lot-02.jpg);
  background-position: center;
  background-size: cover;
}

.card_type_picture {
  background: url(../images/card-lot-03.jpg);
  background-position: center;
  background-size: cover;
}

.lots__look-more-link {
  display: flex;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-left: 40px;
  margin-top: 30px;
}

.about {
  padding: 0 24px;
  display: grid;
  grid-template-columns: 334px 1fr;
  gap: 25px;
  justify-items: center;
  height: 595px;
}

.about__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 240px;
  height: 240px;
  background-color: black;
  border-radius: 50%;
  margin-top: 35px;
}

.about__title {
  margin-top: 135px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.about__logo-image {
  object-fit: contain;
  width: 148px;
  height: 114px;
}

.about__column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 100px;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  grid-column-start: 2;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
}


.footer {
  margin: 180px 50px 82px;
  height: 180px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  font-size: 18px;
  justify-content: space-between;
  text-underline-offset: 4px;
  gap: 137px;
}

.footer__address {
  align-items: start;
  font-style: inherit;
  text-underline-position: under;
  justify-self: end;
}

.footer__menu {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  align-items: center;
}

.footer__menu-list {}

.footer__menu-list-item {
  list-style-type: none;
  color: #000;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer__menu-link {
  text-decoration: underline;
  color: rgba(0, 0, 0, 1);
  font-weight: 400;
  line-height: 21px;
  text-align: left;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 240px;
  min-height: 48px;
  list-style-type: none;
  gap: 48px;
}

.footer__social-list-item {
  width: 48px;
}

.footer__social-link {}

.footer__social-icon {}